
* {
    margin:0; padding:0;
}

body {
    background-image: url("bg.jpg");
}

nav {
    height: 60px;
    width: 1020px;
    background-color: #000000;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
    display: block;
    }

li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    font-family: Josefin Sans;
    font-weight: bold;
    text-align: center;
}

a {
    color: #7a7a7a;
    text-decoration:none;
}

#main_title {
    height: 320px;
    width: 1020px;
    background-color: #000000;
    margin: 0 auto;
    vertical-align: top;
}

h1 {
    font-size: 133px;
    font-family: Josefin Sans, Arial;
    color: #cfa205;
    text-align: center;
    padding-top: 30px;
}

h5 {    
    font-size: 18px;
    font-family: Bitter, Arial;
    color: #cfa205;
    text-align: center;
    padding-top: 70px;
}

p {
    display: inline;
    text-align: center;
}

#social {
    height: 60px;
    width: 1020px;
    background-color: #e8e8e8;
    font-size: 30px;
    font-family: Josefin Sans, Arial;
    color: #7a7a7a;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
}

#tagline {
    margin: 0 auto;
    height: 120px;
    width: 1020px;
    background-color: #ffffff;
    font-size: 18px;
    font-family: Bitter, Arial;
    font-weight: bold;
    color: #7a7a7a
    text-align: center;
    vertical-align: top;
    padding-top: 30px;
}

#tagline p {
    height: 30px;
    width: 900px;
    background-color: #ffffff;
    color: #7a7a7a;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#row1 {
    height: 260px;
    width: 1020px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
    display: block;
    }
    
#row1 div {
    display: inline;
    margin: 20px;
}

#row2 {
    height: 480px;
    width: 1020px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    display: block;
    }
    
#row2 div {
    vertical-align: top;
    display: inline;
    margin: 20px;
}